$primary: #e60073;
// $secondary: $gray-600 !default;
// $success: $green !default;
// $info: $cyan !default;
// $warning: $yellow !default;
$danger: #75234c;
$light: #b200f5;
$dark: #270036;

// #75234C;
// #B200F5;
// #270036;
