.listGrid {
	display: grid;
	grid-template-columns: repeat(auto-fill, 230px);
	gap: 40px;
	padding: 40px 20px;
	justify-content: center;
}

@media (max-width: 560px) {
	.listGrid {
		grid-template-columns: 100%;
	}
}
